%h1{class: 'text-center'}= "LEAGUE LEADERBOARD"
%h1{class: 'text-center'}= @league.name
%h4{class: 'text-center'}= "FOR EVENT: #{@event.name}"

%table{border: 0, class: 'table table-condensed borderless'}
  %tr
    %th{class: 'ordinal'}
    %th{class: 'text-left person-name'} NAME
    %th{class: 'text-right weight'} UP BY
  - @league.people.sort_by { |person| person.up_by(@event) || -1000 }.reverse.each_with_index do |person, index|
    %tr
      %td{class: 'ordinal'}= index + 1
      %td{class: "text-left person-name"}=link_to(person.name, person_path(person))
      - up_by = person.up_by(@event)
      - positive = up_by.to_f > 0 ? 'positive' : 'negative'
      - percent_text = up_by && person.percentage_change ? "(#{person.percentage_change.round(2)}%)" : ""
      %td{class: "#{positive} text-right weight"}= "#{up_by.try(:round, 3)} #{percent_text}"
%h3
  %a= link_to('Back to leagues', event_leagues_path(@event), class: 'btn btn-default btn-block navbar navbar-fixed-bottom')